/* formatting headers */

h1 {
  color: brown;
  font-size: 25px;
  margin: 0;
  padding: 2px;
}

/* defining ids */

#tt {
  color: black;
  font-size: 22px;
  font-style: normal;
}

/* formatting the image */

img {
  width: 20%;
  height: 20%;
  float: right;
  margin: 10px 10px 10px 0;
}

/*  formatting font*/

p {
  font-size: 18px;
  padding: 3px;
  margin: 2px;
}

#content {
  color: Red;
  font-size: 25px;
}

/* giving parameters to classes */

.sidebar {
  width: 20%;
  height: 900px;
  float: left;
  background-color: lightblue;
  margin: 0 4px 0 0;
}

/* giving parameters to anchors */

a {
  text-decoration: none;
  color: blue;
}

body {
  background-color: beige;
  color: black;
}

.headings {
  color: red;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
}

ul {
  list-style: none;
}

.linkstext {
  color: red;
  font-size: 20px;
  font-style: normal;
}
