h1 {
  color: brown;
  font-size: 25px;
  margin: 0;
  padding: 2px;
}

h2 {
  color: black;
  font-size: 22px;
}

img {
  width: 20%;
  height: 20%;
  float: right;
  margin: 10px 10px 10px 0;
}

p {
  font-size: 18px;
}

#id {
  color: Red;
  font-size: 25px;
}

.sidebar{
  width: 30%;
  float: left;
  background-color: beige;
}
